* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
}

body{
  margin: 0;
}

header h3{
  font-family: "Times New Roman";
  font-weight: bold;
}


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2F1793;
  color: white;
  padding: 0 20px;
}


header ul{
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  font-size: 75%;
}


header ul li{
  margin-left: 20px;
}


header button {
  color: white;
  font-size: 75%;
  padding: 3px 10px;
  border-radius: 25px;
  cursor: pointer;
}


header button[name="sign_in"] {
  border: 0.75px solid white;
  background-color: #2F1793;
}


header button[name="sign_up"] {
  background: #23DCC2;
  border: none;
}


/* Su unico hijo es la section.cards
  Utilizo flexbox para centrala en el main */
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


main section.cards{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #E5E5E5;
  padding: 50px;
}

main section.cards article.card{
  background: white;
  width: 30%;
  height: 30vh;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 75%;
}

main section.cards article.card h6{
  font-weight: bold;
  width: 100%;
  margin: 0;
}

main section.cards article.card div{
  width: 100%;
  height: 45%;
  display: flex;
  flex-wrap: wrap;
}

main section.cards article.card div h2{
  padding: 0;
  margin: 0;
  width: 100%;
  font-weight: bold;
}

main section.cards article.card div p{
  padding: 0;
  margin: 0;
  width: 100%;
}

section.otra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #16284C;
  color: white;
  padding: 0 20px;
  color: white;
  padding-bottom: 10%;
}

section.otra ul{
  font-size: 45%;
  list-style: none;
}

section.otra div.pie{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

section.otra div.pie h5{
  width: 100%;
  padding: 0;
  margin-bottom: 0;
}

section.otra div.pie ul{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

section.otra div.pie ul li{
  margin: 10px;
}


footer{
  margin: 0;
  background: black;
}

footer p{
  margin: 0;
  color: white;
  font-size: 50%;
  padding: 5px;
  text-align: center;
}
